.c-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    padding-left: 10px;
}

.c-app-bar__text {
    color: white;
}

.c-side-bar {
    width: 224px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding-top: 64px;
    left: 0;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100%;

}

.c-app-bar-avatarImg{
    border: 2px solid #c8d4ea;
}

.c-profile-bar {
    opacity: 0;
    z-index: -100;
    width: 200px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    margin-top: 64px;
    right: 0;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: fit-content;
    // pointer-events: none;
}

.c-profile-bar:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 100%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-bottom: solid 10px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.c-profile-bar-slide-in {
    z-index: 100!important;
    animation: fade-in 0.5s forwards;
    -webkit-animation: fade-in 0.5s forwards;
}

.c-profile-bar-slide-out {
    z-index: -100;
    animation: fade-out 0.5s forwards;
    -webkit-animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
    0% { opacity: 0;}
    1% {display: initial;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade-in {
    0% { opacity: 0;}
    1% {display: initial;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% { opacity: 1;}
    99% {display: none;}
    100% { opacity: 0;}
}

@-webkit-keyframes fade-out {
    0% {opacity: 1;}
    99% {display: none;}
    100% {opacity: 0;}
}

a {
    text-decoration: none;
}

.c-layout__content {
    margin-left: 220px;
}

.c-layout--login-register {
    margin-left: 0px;
}

.p-login__reg-link,
.p-reg__login-link {
    text-align: center;
    color: rgb(49, 79, 129);
}
.p-login__reg-link:hover,
.p-reg__login-link:hover {
    color: white;
}

.p-user-login__content {
    margin: 50px auto;
}

.c-layout {
    height: 100%;
    display: block;
}
