/* Suggestion: Each Component has css style file and we import them all here.
   Otherwise it is gonna be really overcrowded */

.p-user-login__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.c-login__button {
  display: block;
  margin-top: 30px;
}

.c-loginError {
  color: red;
}

//Profile

.p-profile{
  padding-top: 74px;
}

.c-userDetails-paper{
  width: auto;
  margin-left: 14px;
  margin-right: 10px;
}


.c-userDetails-content{
  position: relative;
  display: inline-block;
  margin: 50px;
  margin-bottom: 20px;
  height: auto;
  width: auto;
  vertical-align: top;
}

.c-userDetails-content-table{
  margin-top: 20px;
  line-height: 24px;
}

.c-userDetails-content-table td{
  min-width: 100px;
}

.p-profile-uploadButton{
  display: inline-block;
  margin-left: 83px;
  margin-bottom: 20px;
  vertical-align: bottom;
}

.p-profile-editButton{
  display: inline-block;
  margin-left: 144px;
  margin-bottom: 20px;
  vertical-align: bottom;
}

.p-profile-changePwButton{
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  vertical-align: bottom;
}

.c-profile-img{
  position: relative;
  display: inline-block;
  width: 206px;
  height: 206px;
  margin: 30px;
  text-align: left;
  border: 3px solid rgb(49, 79, 129);
  border-radius: 200px;
  vertical-align: top;
}

.c-profile-imgSelector{
  display: flex;
  width: 100%;
}

.c-profile-imgPreviewContainer{
  position: relative;
  width: 206px;
  height: 206px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
  border: 3px dashed rgb(49, 79, 129);
  border-radius: 200px;
  text-align: center;
  line-height: 200px;
}

.c-profile-imgPreview{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0px;
  top: 0px;
}

.c-profile-checkbox-showHidePw{
  float: left;
  width: 190px!important;
  margin-left: -10px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: -15px;
}

.c-profile-changePw-message-ok{
  color: green;
}

.c-profile-changePw-message-error{
  color: red;
}