// Announcement component.

.c-announcement-paper {
    padding: 20px;
    max-height: calc(100vh - 200px);
    max-width: 360px;
    min-width: 300px;
    width: 100%;
    min-height: 100px;
    margin: 1em 1em 1em;
  }
  
  .c-announcement-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1em 1em 1em;
  }
  
  .c-announcement-author {
    margin-top: 30px;
    padding-bottom: -80px;
    text-align: right;
    font-size: 13px;
    color: #c8d4ea;
  }
  
  .c-close-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    opacity: 0;
    transition: 0.1 opacity;
    z-index: 20;
    pointer-events: none;
  }
  
  .c-task-board__close-icon {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  font-size: 20px;
  }
  
  .c-list-item:hover .c-close-icon,
  .c-list-item:hover .c-face-icon {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
  
  .c-face-icon {
  position: absolute;
  right: 30px;
  top: 0;
  width: 30px;
  opacity: 0;
  transition: 0.1 opacity;
  z-index: 20;
  pointer-events: none;
  }
  
  // Announcement Page.
  .p-announcements {
    width: 100%;
    justify-content: center;
  }
  
  .p-task-boards-add-button,
  .p-announcements-add-button {
    position: fixed;
    margin: 2em 2em 2em;
    right: 0;
    bottom: 0;
  }
  
  .p-announcements-dropdown {
    position: fixed;
    right: 0;
    top: 0;
    margin: 4em 0em 2em;
  }
  
  .p-announcements-container {
    padding-top: 110px;
    text-align: center;
    color: #314f81;
    margin-bottom: 2em;
  }
  
  .p-announcements-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .p-announcements-lower-container {
    text-align: center;
    color: #314f81;
  }